@import "./Vars.scss";

.container {
	width: 100%;
	max-width: 360px;
	padding: 2rem;
	text-align: center;

	& .title {
		margin-bottom: 2rem;
	}
}
.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3rem;
}
