@import "./Vars.scss";

.container {
	width: 100%;
	max-width: 560px;
	padding: 2rem;
	text-align: center;
	border: 2px solid $dark;
	border-radius: 1rem;
	transition-duration: 0.5s;

	&:hover {
		border-color: $light;
		transition-duration: 0.5s;
	}
	& .title {
		margin-bottom: 2rem;
	}
}

.cards-container {
	display: grid;
	gap: 2rem;
}

@media (prefers-color-scheme: light) {
	.container {
		border-color: $light;

		&:hover {
			border-color: $dark;
		}
	}
}