@import "./Vars.scss";

.card-item {
	width: 100%;
	max-width: 360px;
	padding: 2rem;
	border: 2px solid $dark;
	border-radius: 1rem;
	transition-duration: 0.5s;

	&:hover {
		border-color: $light;
		transition-duration: 0.5s;
	}
	& figure {
		display: flex;
		justify-content: center;
	}
	& img {
		width: auto;
		margin-bottom: 2rem;
	}
	& h2 {
		margin-bottom: 1rem;
		font-variation-settings: "wght" 600;
		color: $variant;
		opacity: 0.75;
	}
	& p {
		margin-bottom: 1.5rem;
	}
	& .btn {
		width: 100%;
		margin-bottom: 1rem;
	}
	& .counter {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;

		& h3 {
			width: 100%;
			text-align: center;
		}
		& .btn-counter {
			width: auto;
			margin: 0;
		}
	}
}

@media (prefers-color-scheme: light) {
	.card-item {
		border-color: $light;

		&:hover {
			border-color: $dark;
		}
	}
}
